@import '../../colors.scss';
@import '../../breakpoints.scss';

.contact-method {
  color: $white;
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: .75;
  transition: all 0.5s ease;
  padding: 0 10px;

  @media all and (min-width: $mobile) {
    width: 170px;
    padding: 0;
    justify-content: flex-start;
    text-align: left;
  }

  @media all and (min-width: $tablet) {
    justify-content: flex-start;
    text-align: left;
  }

  &:hover {
    opacity: 1;
  }
}

.contact-method__icon {
  color: $pure-orange;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.contact-method__text {
  padding: 0 0 0 7px;
  line-height: 25px;
  a {
    color: $snow;
    text-decoration: none;
  }
}