.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  border-radius: 12px;
  min-height: 400px;
  gap: 2rem;
}

@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
  }
}
