$lime: #b0eb00;
$strong-violet: #93c;
$dark-violet: #609;
$pure-orange: #f90;
$light-gray: #ccc;
$dark-gray: #333;
$medium-gray: #777;
$white: #fff;
$orange-red: #f30;
$snow: #fffafa;
$plum: #daacd5;
$cool-black: #003262;
$dark-tangerine: #fdb515;